@page
@model Presentation.Pages.FlightModel
@using Microsoft.AspNetCore.Http
@using Presentation.Helpers
@Html.AntiForgeryToken()
@{
	@if(SessionHelper.GetObjectFromJson<Dictionary<string,object>>(HttpContext.Session,"FlightSearch") == null)
		{
			Response.Redirect("Index");
		}
	else
	{
		<div style="background-image: -webkit-linear-gradient(315deg,#f58300 0,#f59300 50%,#f6a100 50%,#f58300 100%);
		background-image: linear-gradient(135deg,#f58300 0,#f59300 50%,#f6a100 50%,#f58300 100%); width:100%;height:450px">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center " data-scrollax-parent="true">
					<div style="width:100%;padding-left: 250px">
						<h1 class="mb-5">Flight start here</h1>		
					</div>
				</div>
			</div>
		</div>
		<section class="ftco-section bg-light">

				<div class="container flight-go">
					<div class="row">
						<div class="col-sm-12" style="text-align:center;padding-left: .9375rem;padding-right: .9375rem;">
							<h2 style="font-weight:600">@ViewData["from_city"] 
								to
								@ViewData["where_city"]
							</h2>
							<a style="font-weight:600" asp-page="/Index">
								Change flight search
								<span class="ion-ios-color-wand"></span>
							</a>
						</div>
						<div class="col-sm-8">
							<div class="">
								<div class="section-heading">
									<h3 class="section-heading__title" style="font-weight:600">
										Flight Go
									</h3>
									<span class="section-heading__icon ion-ios-plane"></span>
									<div class="section-heading__content">
										<span class="section-heading__route">
											@ViewData["from_city"]
											to
											@ViewData["where_city"]
										</span>
										<span class="section-heading__content-connector">
											-
										</span>
										<span class="section-heading__date">
											Begin @ViewData["depDate"]
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label for="day-go">Check in</label>
							<input type="text"  value='@ViewData["value_dep_date"]' id="check-in">
						</div>
					</div>
						@{
							@if(Model.flightVM_1.Any())
							{
								@foreach(var item in Model.flightVM_1)
								{
									 
									var depDate = @item.DepDate[0];
									var arrDate = @item.ArrDate[item.FlightDetailId.Count() -1];									
									<div class="row" style="margin-top: 20px">
										<div class="col-sm-12">
											<div class="flight-card-wrapper">
												<div class="flight-card">
													<div class="flight-card-itinerary">
														<div class="itinerary-info">
															<div class="itinerary-info__time">
																@depDate.Substring(11,8)
															</div>
															<div class="itinerary-info__airport"> 
																	@ViewData["from"]
																	- Origin
															</div>
														</div>
														<div class="itinerary-info__icons">
															<span></span>
														</div>
														<div class="itinerary-info">
															<div class="itinerary-info__time ">
																@arrDate.Substring(11,8)
															</div>
															<div class="itinerary-info__airport">
																@ViewData["where"] 
																- Destination
															</div>
														</div>
													</div>
													<div class="flight-card-details-price">
														<div class="flight-card-details">
															<div style="float:left;">
																<span class="flight-card-details__duration ">
																	Departs from @ViewData["from_city"]

																</span>
																@{
																	var a ="Hide";
																}
																<div class="flight-card-details__more">
																	<span id="@item.FlightId" class="info-show" >
																		Detail
																	</span>
																	<span id="@item.FlightId" class="info-hide @item.FlightId@a">
																		Hide
																	</span>
																</div>
															</div>
															
															<div class="price-select" style="float:right">
																<div class="price-select__price  text-right">
																	<div class="starter-price-wrapper">
																		<div class="pricepoint-wrapper pricepoint-wrapper--orange">
																			<div class="pricepoint">
																				<span class="pricepoint__middle">
																					@item.Price
																					<span class="pricepoint__decimal"></span>
																				</span>
																				<span class="pricepoint__symbol">
																					đ
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="price-select__button">
																	<div class="button-toggle js-button-toggle">
																		<span>
																			Choose
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class=" qa-flight-card-details">
													<div class="fare__details fare__details--leg-0 @item.FlightId">
														<span class="carrier"></span>
														<div class="flight-info">
															
															@for(int i = 0;i< @item.FlightDetailId.Count();i++)
															{
																var j = i + 1;
																<div class="flight-info__row  flight-info__flightNubmer">
																	<div class="flight-info__row__label medium-3"> 
																		Flight @j :
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.Origin[i]
																			to
																			@item.Destination[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																		Start:
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.DepDate[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																		End:
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.ArrDate[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																	</div>
																	<div class="flight-info__more medium-9">
																		<div class="flight-info__more__item">
																			Plane:
																			<p>
																				@item.PlaneId
																			</p>
																		</div>
																		<div class="flight-info__more__item">
																			Maker:
																			<p>@item.Maker</p>
																		</div>
																	</div>
																</div>
															}
															
															
															
															
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								}
							}
							else
							{
								<div class="row">
									<div class="col-sm-12" style="text-align:center;padding-left: .9375rem;padding-right: .9375rem;">
											<h2 class="section-heading__route">
											No results
											</h2>
									</div>
								</div>
							}
								
						}	
				</div>
				@if(Model.CheckType == "round")
				{
					<div class="container flight-back">
						<div class="row">
							<div class="col-sm-12" style="text-align:center;padding-left: .9375rem;padding-right: .9375rem;">
								<h2 style="font-weight:600">@ViewData["where_city"] 
									to
									@ViewData["from_city"]
								</h2>
								<a style="font-weight:600" asp-page="/Index">
									Change flight search
									<span class="ion-ios-color-wand"></span>
								</a>
							</div>
							<div class="col-sm-8">
								<div class="">
									<div class="section-heading">
										<h3 class="section-heading__title" style="font-weight:600">
											Flight back
										</h3>
										<span class="section-heading__icon ion-ios-plane"></span>
										<div class="section-heading__content">
											<span class="section-heading__route">
												@ViewData["where_city"]
												to
												@ViewData["from_city"]
											</span>
											<span class="section-heading__content-connector">
												-
											</span>
											<span class="section-heading__date">
												@ViewData["arrDate"]
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label for="day-go">Check out</label>
								<input type="text"  value='@ViewData["value_arr_date"]' id="check-out">
							</div>
						</div>
						@if(Model.ListFlights_2.Any())
						{
							@foreach(var item in Model.flightVM_2)
								{
									 
									var depDate = @item.DepDate[0];
									var arrDate = @item.ArrDate[item.FlightDetailId.Count() -1];									
									<div class="row" style="margin-top: 20px">
										<div class="col-sm-12">
											<div class="flight-card-wrapper">
												<div class="flight-card">
													<div class="flight-card-itinerary">
														<div class="itinerary-info">
															<div class="itinerary-info__time">
																@depDate.Substring(11,8)
															</div>
															<div class="itinerary-info__airport"> 
																	@ViewData["where"]
																	- Origin
															</div>
														</div>
														<div class="itinerary-info__icons">
															<span></span>
														</div>
														<div class="itinerary-info">
															<div class="itinerary-info__time ">
																@arrDate.Substring(11,8)
															</div>
															<div class="itinerary-info__airport">
																@ViewData["from"] 
																- Destination
															</div>
														</div>
													</div>
													<div class="flight-card-details-price">
														<div class="flight-card-details">
															<div style="float:left;">
																<span class="flight-card-details__duration ">
																	Departs from  @ViewData["where_city"]

																</span>
																@{
																	var a = "Hide";
																}
																<div class="flight-card-details__more">
																	<span id="@item.FlightId" class="info-show" >
																		Detail
																	</span>
																	<span id="@item.FlightId" class="info-hide @item.FlightId@a">
																		Hide
																	</span>
																</div>
															</div>
															
															<div class="price-select" style="float:right">
																<div class="price-select__price  text-right">
																	<div class="starter-price-wrapper">
																		<div class="pricepoint-wrapper pricepoint-wrapper--orange">
																			<div class="pricepoint">
																				<span class="pricepoint__middle">
																					@item.Price
																					<span class="pricepoint__decimal"></span>
																				</span>
																				<span class="pricepoint__symbol">
																					đ
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="price-select__button">
																	<div class="button-toggle js-button-toggle">
																		<span>
																			Choose
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class=" qa-flight-card-details">
													<div  class="fare__details fare__details--leg-0 @item.FlightId">
														<span class="carrier"></span>
														<div class="flight-info">
															
															@for(int i = 0;i< @item.FlightDetailId.Count();i++)
															{
																var j = i + 1;
																<div class="flight-info__row  flight-info__flightNubmer">
																	<div class="flight-info__row__label medium-3"> 
																		Flight @j :
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.Origin[i]
																			to
																			@item.Destination[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																		Start:
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.DepDate[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																		End:
																	</div>
																	<div class="medium-9">
																		<p>
																			@item.ArrDate[i]
																		</p>
																	</div>
																</div>
																<div class="flight-info__row">
																	<div class="flight-info__row__label medium-3"> 
																	</div>
																	<div class="flight-info__more medium-9">
																		<div class="flight-info__more__item">
																			Plane:
																			<p>
																				@item.PlaneId
																			</p>
																		</div>
																		<div class="flight-info__more__item">
																			Maker:
																			<p>@item.Maker</p>
																		</div>
																	</div>
																</div>
															}	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								}
						}
						else
						{
							<div class="row">
								<div class="col-sm-12" style="text-align:center;padding-left: .9375rem;padding-right: .9375rem;">
										<h2 class="section-heading__route">
										No results
										</h2>
								</div>
							</div>
						}
						
						
					</div>
				}
				<!-- }
			} -->
		</section>
		<script>
			$(document).ready(function()
			{ 
				$(document).on("focus","#check-in",function(){
					$(this).datepicker({
					dateFormat: "dd/mm/yy",
					minDate: new Date(),
					'autoclose': true
					});
				});
				
				$(document).on("focus","#check-out",function(){
					$(this).datepicker({
						dateFormat: "dd/mm/yy",
						minDate: $("#check-in").val(),
					});
				});
				$(document).on("change","#check-in",function()
				{
					var type_date = "check_in";
					var check = "";
					var choose = $("#check-in").val();
					var arrdate = $("#check-out").val();
					var check = "";
					$("#check-out").datepicker("option","minDate",$("#check-in").val());

						if(choose.slice(0,2) > arrdate.slice(0,2))
						{
							$( "#check-out" ).val(choose);
							
							check = "true";
						}
					
					
					$.ajax({
						type: "GET",
						url: "/Flight?handler=NewDate",
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data: { 
							choose: choose,
							type_date: type_date,
							check: check
						},
						success:function(response)
						{
							$(".flight-go").load("/Flight" + " .flight-go",function(responseText, textStatus, XMLHttpRequest){
								$(document).on("click", ".info-show", function () {
									var id = $(this).attr("id");
									$(".info-show #"+id).css("display", "none");
									$(".info-hide #"+id+"Hide").css("display", "inline-block");
									$("."+id).css("display", "block");
								});
								$(document).on("click", ".info-hide", function () {
									var id = $(this).attr("id");
									$(".info-hide #"+id).css("display", "none");
									$(".info-show #"+id+"Hide").css("display", "inline-block");
									$("."+id).css("display", "none");
								});
							});
							$(".flight-back").load("/Flight" + " .flight-back");
						}
					});
					
				});
				$(document).on("change","#check-out",function()
				{
					var type_date = "check_out";
					var choose = $("#check-out").val();
					$.ajax({
						type: "GET",
						url: "/Flight?handler=NewDate",
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data: { 
							choose: choose,
							type_date: type_date
						},
						success:function(response)
						{
							$(".flight-back").load("/Flight" + " .flight-back");
						}
					});
					
				});
			});
		</script>
	}
}
